# Dependencies
node_modules/

# Build outputs
dist/
dist-ssr/
dist-electron/
apps/renderer/release/

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Logs
*.log
npm-debug.log*

# Environment
*.local
*.env

# Go
apps/server/tmp/

# Github
github/